NEXT_PUBLIC_SUPABASE_URL=https://povfuiqcyyutnczpjkhj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvdmZ1aXFjeXl1dG5jenBqa2hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NjU4NDksImV4cCI6MjA5NzM0MTg0OX0.BZ54TyJCP8nD6S3lT1bP7pA1Q0xXYPaMszDePTmjI9g
